.radial {
	margin: 10px;
	display: grid;
	grid-template-areas: "layer";
	place-items: center;
	border-radius: 50%;
  
	--radius: 20vmin;
	width: calc(3 * var(--radius));
	height: calc(3 * var(--radius));
  }

.let {
grid-area: layer;
width: 10vmin;
height: 10vmin;
border-radius: 50%;

display: grid;
place-items: center;
font-weight: bold;
font-size: 3vmin;

--d: calc(var(--i) / var(--total));
--r-offset: -0.25turn;
--r-amount: 1turn;
--r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
--transform: rotate(var(--r)) translate(var(--radius))
	rotate(calc(-1 * var(--r)));

transform: var(--transform);
transition: transform 1.5s ease-in-out;
}
.letter{  
	margin: 0 5px 5px 0;  
	width: 60px;  
	height: 60px;  
	font-size: 28px;
	line-height: 60px;  
	text-align: center;  
	background: #f9f9f9c0;  
	border: 1px solid #dbdbdb;  
	border-radius: 45px;  
} 
.letter:hover {  
	position: relative;  
	top: 0.5px;  
	left: 0.5px;  
	border-color: #bababa;
}  